extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to delete 
  else
  - let dogid = toShow.id 
  - let breed = toShow.breed 
  - let price = toShow.price
  - let colour = toShow.colour
       
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{costumeid} 
  - let actionid = "/resource/dogs/" + dogid 
  form(id='dogForm', action= actionid, method="PUT") 
    div.form-group 
        label.dogAttr(for='breed') Breed
        input#breed(type='text', name='breed', value= breed ) 
    div.form-group 
        label.dogAttr(for='price') Prize 
        input#size(type='number', name='price', value= price ) 
    div.form-group 
        label.dogAttr(for='colour') Colour 
        input#colour(type='text', name='colour', value= colour ) 
    input(type="submit") 
 
  script. 
    document.forms['dogForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 